<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFC Konvertor a Unity Viewer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .spinner {
            margin-top: 15px;
            display: inline-block;
            width: 24px;
            height: 24px;
            border: 4px solid transparent;
            border-radius: 50%;
            border-top-color: #4b5563;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>

<body class="bg-gray-50 text-gray-800">
    <div class="w-full">
        <header class="text-center my-6 mb-10">
            <h1 class="text-4xl font-extrabold text-gray-800 tracking-tight">IFC Konvertor a Unity Viewer</h1>
        </header>
        <div class="flex flex-col md:flex-row mx-10 gap-6">
            <div class="flex-1">
                <section class="bg-gray-100 shadow rounded-lg p-8 mb-4">
                    <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Nahrajte svůj IFC soubor</h2>
                    <form id="uploadForm" enctype="multipart/form-data" class="space-y-6">
                        <div class="mb-4">
                            <label class="block text-lg font-medium text-gray-700" for="ifcFile">Vyberte IFC
                                soubor</label>
                            <label for="ifcFile"
                                class="block w-full p-2 text-sm text-white bg-gray-500 border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-600 focus:outline-none">
                                <span id="ifcFileName">Vyberte IFC soubor</span>
                            </label>
                            <input class="hidden" id="ifcFile" name="file" type="file" accept=".ifc" required
                                onchange="displayFileName('ifcFile')">
                        </div>
                        <button type="submit"
                            class="w-full bg-gray-500 text-white font-semibold py-2 rounded-md shadow-md hover:bg-gray-600 transition">
                            Nahrát soubor
                        </button>
                    </form>
                    <div id="upload-message" class="mt-4 text-center text-lg"></div>
                </section>

                <section class="bg-gray-100 shadow rounded-lg p-8 mb-10">
                    <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Nahrané soubory</h2>
                    <div id="file-list" class="space-y-5"></div>
                </section>
            </div>

            <div class="flex-1">
                <section class="bg-gray-100 shadow rounded-lg p-8 mb-6">
                    <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">3D Prohlížeč (Unity WebGL)</h2>
                    <div id="unity-container" class="unity-desktop mx-auto mb-4">
                        <canvas id="unity-canvas" width="960" height="600" tabindex="-1"></canvas>
                        <div id="unity-loading-bar">
                            <div id="unity-logo"></div>
                            <div id="unity-progress-bar-empty">
                                <div id="unity-progress-bar-full"></div>
                            </div>
                        </div>
                        <div id="unity-warning"></div>
                        <div id="unity-footer">
                            <div id="unity-webgl-logo"></div>
                            <div id="unity-fullscreen-button"></div>
                        </div>
                    </div>

                    <div class="flex flex-col gap-4">
                        <div>
                            <label for="building" class="block text-sm font-medium text-gray-700">Název budovy</label>
                            <input type="text" id="building" placeholder="DCUK" onchange="handleChange()"
                                class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500">
                        </div>
                        <div>
                            <label for="room" class="block text-sm font-medium text-gray-700">Název místnosti</label>
                            <input type="text" id="room" placeholder="Malá zasedačka" onchange="handleChange()"
                                class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500">
                        </div>
                    </div>

                </section>

                <section class="bg-gray-100 shadow rounded-lg p-8 mb-6">
                    <div class="relative w-full pb-4 mb-8">
                        <h2
                            class="text-2xl font-bold text-gray-700 text-center mb-6 absolute top-0 left-1/2 transform -translate-x-1/2">
                            QR
                            Kódy</h2>
                        <a id="AllQRDownload" href="" download="qr_codes.zip"
                            class="bg-blue-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-blue-600 absolute top-0 right-0">
                            Stáhnout všechny QR kódy
                        </a>
                    </div>
                    <div id="qrCodeContainer" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

<script>
    var lastUsedFileId;
    let lastUpload = {};
    document.addEventListener("DOMContentLoaded", function () {
        updateFileList();

        document.getElementById('uploadForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const uploadMessage = document.getElementById('upload-message');
            const formData = new FormData(this);
            uploadMessage.innerHTML = `
                        <div class="spinner mx-auto"></div>
                        <div class="mt-2 text-gray-600 font-semibold">Nahrávání souboru...</div>
                    `;
            uploadMessage.className = "text-center";

            fetch('/files', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        uploadMessage.innerHTML = `<div class="text-red-600 font-semibold">Chyba: ${data.error}</div>`;
                    } else {
                        uploadMessage.innerHTML = `<div class="text-green-600 font-semibold">Úspěch: ${data.message}</div>`;
                        updateFileList();
                    }
                })
                .catch(error => {
                    uploadMessage.innerHTML = `<div class="text-red-600 font-semibold">Chyba: ${error.message}</div>`;
                });
        });
    });

    function updateFileList() {
        fetch('/files')
            .then(response => response.json())
            .then(files => {
                const fileList = document.getElementById('file-list');
                fileList.innerHTML = '';

                if (files.length === 0) {
                    fileList.innerHTML = "<div class='text-center text-gray-500'>Zatím žádné soubory nebyly nahrány.</div>";
                    return;
                }

                files.forEach(file => {
                    const fileLayout = document.createElement('div');
                    fileLayout.className = 'bg-white p-4 rounded-md shadow-md hover:shadow-lg transition flex items-center justify-between';
                    fileLayout.innerHTML = `
                        <div>
                            <div class="text-lg font-medium text-gray-800 pb-2">${file.filename}</div>
                            <button onclick="loadInViewer('${file._id}')"
                                class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 shadow transition">
                                Zobrazit v 3D prohlížeči
                            </button>

                            <div class="grid grid-cols-3 gap-3 my-2">
                                <a href="/files/${file._id}/download/ifc"
                                    class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 text-center shadow transition">
                                    Stáhnout IFC
                                </a>
                                <a href="/files/${file._id}/download/dae"
                                    class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 text-center shadow transition">
                                    Stáhnout DAE
                                </a>
                                <a href="/files/${file._id}/download/obj"
                                    class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 text-center shadow transition">
                                    Stáhnout OBJ
                                </a>
                            </div>

                            <button onclick="deleteFile('${file._id}')"
                                class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 shadow transition">
                                Smazat
                            </button>
                        </div>
                    `;

                    fileList.appendChild(fileLayout);
                });
            })
            .catch(error => {
                const fileList = document.getElementById('file-list');
                fileList.innerHTML = "<div class='text-red-600 font-semibold'>Chyba při načítání seznamu souborů.</div>";
            });
    }

    function displayFileName(inputId) {
        const fileInput = document.getElementById(inputId);
        const fileNameDisplay = document.getElementById(inputId + "Name");
        if (fileInput.files.length > 0) {
            fileNameDisplay.textContent = fileInput.files[0].name;
        } else {
            fileNameDisplay.textContent = "Vyberte soubor";
        }
    }

    function saveModel(fileId, file) {
        if (confirm("Opravdu chcete tento soubor přeuložit?")) {
            const formData = new FormData();
            formData.append("file", file);

            fetch(`/files/${fileId}`, {
                method: 'PUT',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        updateFileList();
                    } else {
                        alert('Chyba při přeukládání souboru: ' + data.error);
                    }
                })
                .catch(error => {
                    alert('Chyba: ' + error.message);
                });
        }
    }

    function deleteFile(fileId) {

        if (confirm("Opravdu chcete tento soubor smazat?")) {
            fetch(`/files/${fileId}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        updateFileList();
                    } else {
                        alert('Chyba při mazání souboru: ' + data.error);
                    }
                })
                .catch(error => {
                    alert('Chyba: ' + error.message);
                });
        }
    }
    function fetchQRCodes(fileId) {
        const qrCodeContainer = document.getElementById("qrCodeContainer");
        qrCodeContainer.innerHTML = "";
        const loadingDiv = document.createElement("div");
        loadingDiv.classList.add("flex", "justify-center", "items-center", "my-6");
        loadingDiv.innerHTML = `<div class="spinner"></div>`;
        qrCodeContainer.appendChild(loadingDiv);

        fetch(`/qrcodes/${fileId}`)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error(response.status);
                }
            })
            .then(data => {
                loadingDiv.remove();
                console.log(data);
                if (data) {
                    data.forEach(qrCode => {
                        const baseUrl = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;
                        const qrCardHtml = `
            <div class="relative bg-white shadow rounded-lg p-4 mb-4">
                <div class="bg-gray-300 rounded mx-auto mb-4">
                    <img src="${baseUrl + "/qrcodes/" + qrCode._id + "/download"}" alt="QR Code" class="w-full h-full object-cover">
                </div>
                <button class="absolute top-1 right-1 mt-2 bg-red-600 rounded-md p-2 text-white" onclick="removeQR('${qrCode._id}')">
                    <svg class="w-6 h-6 text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                    </svg>
                </button>
                <div class="flex justify-center">
                    <a href="${baseUrl + "/qrcodes/" + qrCode._id + "/download"}" download="qr_code.png" class="bg-blue-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-blue-600">
                        Stáhnout QR
                    </a>
                </div>
            </div>
        `;
                        qrCodeContainer.insertAdjacentHTML('beforeend', qrCardHtml);
                    });
                } else {
                    qrCodeContainer.innerHTML = `<p class="text-gray-500">Nebyly ještě vygenerovány žádné QR kódy...</p>`;
                }

            })
            .catch(error => {
                console.error('Error fetching QR codes:', error);

                loadingDiv.remove();

                if (error.message === '404') {
                    qrCodeContainer.innerHTML = `<p class="text-gray-500">Nebyly ještě vygenerovány žádné QR kódy...</p>`;
                } else {
                    qrCodeContainer.innerHTML = `<p class="text-red-500">Chyba při získávání QR kódů. Zkuste to znovu.</p>`;
                }
            });
    }


    function loadInViewer(fileId) {
        const baseUrl = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;
        const url = `${baseUrl}/files/${fileId}/download/obj`;
        const messageParameter = fileId + "," + url;
        lastUsedFileId = fileId;

        if (typeof unityInstance !== "undefined") {
            unityInstance.SendMessage("Model", "LoadModelFromJS", messageParameter);
        }
        document.getElementById("AllQRDownload").setAttribute("href", baseUrl + "/qrcodes/" + fileId + "/downloadall");
        fetchQRCodes(fileId);
    }

    function UploadQR(jsonString) {
        const jsonData = JSON.parse(jsonString);
        const { position, rotation, uid: fileId } = jsonData;

        const { x, y, z } = position || {};
        const { y: yrot } = rotation || {};
        lastUsedFileId = fileId;
        if (isNaN(x) || isNaN(y) || isNaN(z) || isNaN(yrot)) {
            alert("Invalid coordinates or rotation values.");
            return;
        }

        const building = document.getElementById("building").value;
        const room = document.getElementById("room").value;

        const baseUrl = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;

        const url = `${baseUrl}/files/${fileId}/download/obj`;

        const data = {
            building: building,
            room: room,
            x: x,
            y: y,
            z: z,
            yrot: yrot,
            file_id: fileId,
            file_url: url
        };

        fetch(`/qrcodes`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(`Error: ${data.error}`);
                } else {
                    console.log(`QR code generated successfully!`);
                    console.log(data);
                    fetchQRCodes(lastUsedFileId);
                }
            })
            .catch(error => {
                alert(`Error: ${error.message}`);
            });
    }

    function removeQR(qrId) {
        const confirmed = window.confirm("Opravdu chcete smazat toto QR?");

        if (!confirmed) {
            return;
        }

        fetch(`/qrcodes/${qrId}`, {
            method: "DELETE",
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(`Error: ${data.error}`);
                } else {
                    console.log(`QR code removed successfully!`);
                    fetchQRCodes(lastUsedFileId);
                    console.log(data);
                }
            })
            .catch(error => {
                alert(`Error: ${error.message}`);
            });
    }


    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var loadingBar = document.querySelector("#unity-loading-bar");
    var progressBarFull = document.querySelector("#unity-progress-bar-full");
    var fullscreenButton = document.querySelector("#unity-fullscreen-button");
    var warningBanner = document.querySelector("#unity-warning");

    function unityShowBanner(msg, type) {
        function updateBannerVisibility() {
            warningBanner.style.display = warningBanner.children.length ? 'block' : 'none';
        }
        var div = document.createElement('div');
        div.innerHTML = msg;
        warningBanner.appendChild(div);
        if (type == 'error') div.style = 'background: red; padding: 10px;';
        else {
            if (type == 'warning') div.style = 'background: yellow; padding: 10px;';
            setTimeout(function () {
                warningBanner.removeChild(div);
                updateBannerVisibility();
            }, 5000);
        }
        updateBannerVisibility();
    }

    var buildUrl = "{{ url_for('static', filename='Build') }}";
    var loaderUrl = buildUrl + "/PS-webgl-build.loader.js";
    var config = {
        dataUrl: buildUrl + "/PS-webgl-build.data.br",
        frameworkUrl: buildUrl + "/PS-webgl-build.framework.js.br",
        codeUrl: buildUrl + "/PS-webgl-build.wasm.br",
        streamingAssetsUrl: "{{ url_for('static', filename='StreamingAssets') }}",
        companyName: "DefaultCompany",
        productName: "PS-webgl",
        productVersion: "0.1.0",
        showBanner: unityShowBanner,
    };

    canvas.style.width = "960px";
    canvas.style.height = "600px";

    loadingBar.style.display = "block";

    var script = document.createElement("script");
    script.src = loaderUrl;
    var unityInstance;
    script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
            progressBarFull.style.width = 100 * progress + "%";
        }).then((instance) => {
            unityInstance = instance;
            loadingBar.style.display = "none";
            fullscreenButton.onclick = () => {
                unityInstance.SetFullscreen(1);
            };
        }).catch((message) => {
            alert(message);
        });
    };

    document.body.appendChild(script);
</script>

</html>